<div class="row">
  <div class="info-line col-12 col-md-4 col-xl-12">
    <a href="tel:6162586565">
      <fa-icon [icon]="faPhone"></fa-icon>
      <br class="d-none d-md-inline-block d-lg-none" />
      <span class="d-inline-block d-md-none d-lg-inline-block">&nbsp;</span>
      616.258.6565
    </a>
  </div>
  <div class="info-line col-12 col-md-4 col-xl-12">
    <a href="mailto:ryan@codestackllc.com">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <br class="d-none d-md-inline-block d-lg-none" />
      <span class="d-inline-block d-md-none d-lg-inline-block">&nbsp;</span>
      ryan@codestackllc.com
    </a>
  </div>
  <div class="info-line col-12 col-md-4 col-xl-12">
    <a target="_blank" href="https://www.codestackllc.com">
      <fa-icon [icon]="faGlobe"></fa-icon>
      <br class="d-none d-md-inline-block d-lg-none" />
      <span class="d-inline-block d-md-none d-lg-inline-block">&nbsp;</span>
      www.codestackllc.com
    </a>
  </div>
</div>