@import 'csvariables';

$dummy: 20px;
$pad-amount: 20px;

.router-wrapper {
  position: relative;
  top: -100px;
  width: 100%;
  padding: 0px 40px;
  margin: auto;
}

.router-top {
  position: absolute;
  top: ($router-top + $pad-amount);
  left: 0;
}

@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .router-top {
    position: relative;
    padding-top: $pad-amount;
    top: unset;
    left: unset;
  }
}
