<div id="about-anc" style="position:absolute;top: -150px; left: 0;"></div>
<div class="row justify-content-center m-0 p-5">
  <div class="col-12 col-md-4 align-self-center text-center mb-5 mb-md-0">
    <img class="rounded-circle img-thumbnail" src="../../../assets/me.png" />
  </div>
  <div class="col-12 col-md-6 align-self-center text-center">
    <p>My Name is
      <a class="text-primary" href="https://www.linkedin.com/in/ryan-horton-557a8512b/" target="_blank">
        <u>Ryan Horton</u>
      </a>. I've been developing for 10+ years. I take pride in what I do and take the time to get better and learn new things.
      The knowledge I've gathered throughout the past decade is evident in my work. After graduating from Western Michigan
      University, I immediately got into the field of web design / programming. I've worked my way up to senior level and
      am look forward to helping you on your next project.</p>
  </div>
</div>