<div class="cs-footer row no-gutters">
  <div class="col-12 col-sm-4 d-flex mb-2 mb-sm-0">
    <div class="inner">
      <cs-logo white='true' size="1.5rem"></cs-logo>
    </div>
  </div>
  <div class="col-12 col-sm-4 d-flex mb-2 mb-sm-0">
    <div class="inner">
      <div>
        <img src="../assets/LogoWhite.svg" />
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4 d-flex mb-4 mb-sm-0">
    <div class="inner">
      <div>
        <a href="tel:6162586565">616.258.6565</a>
      </div>
      <div>
        <a href="mailto:ryan@codestackllc.com">ryan@codestackllc.com</a>
      </div>
    </div>
  </div>
</div>