<cs-page-header>
  At CODESTACK, my goal is to help pave the path to success for your business. With years of IT professional experience, I
  have the skills and passion to help provide modern solutions for your business and help you reach your goals. With CODESTACK,
  you get the personal experience of an in-house developer with professional results. Whether you are a small business owner
  looking for an online presence or a corporation looking to streamline workflows, CODESTACK can help.
</cs-page-header>
<div class="card-deck m-3">
  <div class="card">
    <div class="card-header">
      <fa-icon [icon]="faGlobe"></fa-icon>
    </div>
    <div class="card-body">
      <h5 class="card-title">Data Driven Applications</h5>
      <p class="card-text">Do you need a custom website for your business? CODESTACK can help. I specialize in data driven applications. What
        does that mean? This means my websites are designed in way where they react to the data it is provided. Data can
        be managed by anyone, websites can't. </p>
      <p class="card-text">Need to add products to a product page? Update your data, no need for a developer. Need to change the price of a service?
        Update your data, no need for a developer.</p>
      <p class="card-text">Data Driven Applications can help streamline workflows, sell products and services, keep your customers up to date,
        etc. The possibilites are almost endless.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <fa-icon [icon]="faCode"></fa-icon>
    </div>
    <div class="card-body">
      <h5 class="card-title">Custom Web Development</h5>
      <p class="card-text">Don't have the need for a big fancy Data Driven Application? No problem. CODESTACK will be happy to build you a custom
        site for whatever your needs are. Hosting an event? I have you covered. Need a simple contact page? I can do that.</p>
      <h5 class="card-title">Simple Designs</h5>
      <p class="card-text">Sometimes a fancy and complex website isn't what you want, I get that. Let me build the simple solution you want, while
        still giving you the power to manage it's content.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header small-icons">
      <fa-icon [icon]="faPhone"></fa-icon>
      <fa-icon [icon]="faTablet"></fa-icon>
      <fa-icon [icon]="faDesktop"></fa-icon>
    </div>
    <div class="card-body">
      <h5 class="card-title">Responsive Design</h5>
      <p class="card-text">The internet comes in different shapes and sizes. With my responsive design skills, CODESTACK can make sure every user
        sees your content the way you intended.
      </p>
      <h5 class="card-title">Cross Browser</h5>
      <p class="card-text">Not every one uses the same tools to view your page. Not every one is using the latest and greatest technology. I make
        sure your site is tested on all platforms so every user has the same experience.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <fa-icon [icon]="faHome"></fa-icon>
    </div>
    <div class="card-body">
      <h5 class="card-title">Web Hosting</h5>
      <p class="card-text">Don't have a place to host your website? Host your site with CODESTACK! I can help you setup hosting at any of the
        numerous providers out there or better yet, host your site on my own Virtual Private Server. </p>
      <p class="card-text">Hosting with CODESTACK will ensure your website is always up to date with any security patch and will be upgraded to
        the most recent version of the technology it was built on. The internet moves fast, hosting with CODESTACK will help
        you keep up.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <fa-icon [icon]="faTerminal"></fa-icon>
    </div>
    <div class="card-body">
      <h5 class="card-title">Custom Development</h5>
      <p class="card-text">Need a solution that isn't web based? Not a problem! CODESTACK can help you streamline your most tedious process and
        give you more time to do other things. Has the thought, "There has to be a better way!", ever crossed your mind?
        Sure it has! Guess what, there is always a better way, and CODESTACK can help.</p>
      <p class="card-text"> Streamlining tedious tasks not only saves you time, but more importantly, eliminates human error. Let CODESTACK evaluate
        your processes and help you get some time back in your day!
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <fa-icon [icon]="faDatabase"></fa-icon>
    </div>
    <div class="card-body">
      <h5 class="card-title">Database Solutions</h5>
      <p class="card-text">CODESTACK can help with your database as well! Have a query that always runs slow? Let me take a look, we can get it
        running faster! Need help architecting a database? Let us design your database for your application, data warehouse
        or API.
      </p>
      <h5 class="card-title">Data Flow</h5>
      <p class="card-text">Need data from another system? CODESTACK can pull data from your source system and transform the data how you need
        it. We can relationally shape your data for fast and efficient retrieval for your application or report.
      </p>
    </div>
  </div>
</div>