@import 'csvariables';

.card {
  margin-bottom: 1.5rem;
  .card-header {
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;

    &.small-icons {
      font-size: 3rem;
      .ng-fa-icon {
        padding: 0px 3px;
      }
    }
  }
  .card-body {
    .card-title {
      font-weight: bold;
    }
  }
}

//make card decks respond sooner
$cards-per-line: (
  xs: 1,
  sm: 2,
  md: 2,
  lg: 3,
  xl: 3,
);

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .card-deck .card {
      flex: 0 0
        calc(#{100 / map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
    }
  }
}
