@import 'csvariables';

.page-header {
  position: relative;
  background-color: $white;
  width: 90%;
  margin: auto;
  z-index: 1005;
  padding: 30px;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: map-get($map: $grid-breakpoints, $key: 'sm')) {
  .page-header {
    top: -70px;
  }
}

@media (max-width: 450px) {
  .page-header {
    top: -130px;
  }
}
