<div id="testimonials-anc" class="anchor-spy" style="position:absolute;top: -159px; left: 0;"></div>
<carousel>
  <slide>
    <div class="slide-holder">
      <div class="testimonial">
        <div class="pic">
          <fa-icon [icon]="faUser" class="fa-5x"></fa-icon>
        </div>
        <h3 class="title">Satisfied Customer 1</h3>
        <span class="post">Web Developer</span>
        <p class="description">
          This could be you! Contact us today!
        </p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="slide-holder">
      <div class="testimonial">
        <div class="pic">
          <fa-icon [icon]="faUser" class="fa-5x"></fa-icon>
        </div>
        <h3 class="title">Satisfied Customer 2</h3>
        <span class="post">Web Developer</span>
        <p class="description">
          This could be you! Contact us today!
        </p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="slide-holder">
      <div class="testimonial">
        <div class="pic">
          <fa-icon [icon]="faUser" class="fa-5x"></fa-icon>
        </div>
        <h3 class="title">Satisfied Customer 3</h3>
        <span class="post">Web Developer</span>
        <p class="description">
          This could be you! Contact us today!
        </p>
      </div>
    </div>
  </slide>
</carousel>